@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  
}

body {
    background: #202020;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    text-align: center;
}

canvas {
    border: solid .2em #fff;
    height: auto;
    border-radius: 0.3rem;
}
p {
    margin-right: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pause-message {
      position: absolute;
      font-size: 2rem;
      top: 25%;
      background-size: contain;
      background-color: #000000;
      border-radius: .25rem;
      border: 1px solid rgba(255, 255, 255, .18);
      box-shadow: 0 0 .5rem 0 rgba(255, 255, 255,0.37);
      padding: .4rem;
      visibility: hidden;
}

.lose {
    position: absolute;
    font-size: 1rem;
    top: 25%;
    background-size: contain;
    background-color: #000000;
    border-radius: .25rem;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 0 .5rem 0 rgba(255, 255, 255,0.37);
    padding: .4rem;
    visibility: hidden;
}
.instructions {
    position: absolute;
    font-size: 1rem;
    top: 75%;
    background-size: contain;
    background-color: #000000;
    border-radius: .25rem;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 0 .5rem 0 rgba(255, 255, 255,0.37);
    padding: .4rem;
}